/** global */
html,body,div,span,h1,h2,p,form,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	margin: 0;
	font-family: 'Rajdhani', sans-serif;
	background: url(../../assets/imgs/login_bg.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
.text-center {
	text-align: center;
}
h1, h2, h3, h4, h5, h6, input, p, a, select, button, textarea, label {
	margin: 0;
	font-family: 'Rajdhani', sans-serif;
}
.clear {
	clear: both;
}

/** transition */
a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	margin: 0;
}

/** style */
h1.title1 {
	font-size: 3.2em;
	color: #fff;
	font-weight: 100;
	padding-top: 1.2em;
	letter-spacing: 3px;
}
.container {
	width: 25%;
	margin: 7em auto;
	text-align: center;
}
.line {
	border-bottom: 1px solid #fff;
}
::-webkit-input-placeholder {
	color: rgb(98, 146, 209);
}
.form_login {
	border: 1px solid #fff;
	border-left: none;
	border-right: none;
}
.form_login span {
	width: 22%;
	float: left;
	padding: 12px 10px;
	position: relative;
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
	border-right: 1px solid #fff;
	text-align: left;
}
input.input {
	width: 65%;
	padding: 12px 14px;
	border: none;
	outline: none;
	font-size: 1em;
	letter-spacing: 1px;
	float: left;
	background: transparent;
	color: #fff;
}
.code {
	font-family: Arial;
	font-style: italic;
	font-weight: bolder;
	cursor: pointer;
	vertical-align: middle;
}
.login_Btn {
	margin: 2.5em auto;
}
.login_Btn input[type="submit"] {
	color: #fff;
	padding: 0.5em 2em;
	outline: none;
	font-size: 1em;
	cursor: pointer;
	font-weight: 500;
	border: 1px solid #fff;
	background: transparent;
}
.login_Btn input[type="submit"]:hover {
	background: #ffffff;
	color: #072866;
}
.copyright {
	width: 100%;
	padding-top: 70px;
}
.copyright p {
	font-size: 0.9em;
	font-weight: 500;
	color: #fff;
	letter-spacing: 2px;
	line-height: 2;
	margin-bottom: 1em;
}

/** responsive */
@media screen and (max-width: 1523px) {
	.container {
		width: 26%;
	}
}
@media screen and (max-width: 1466px) {
	.container {
		width: 27%;
	}
}
@media screen and (max-width: 1412px) {
	.container {
		width: 28%;
	}
}
@media screen and (max-width: 1362px) {
	.container {
		width: 36%;
		margin: 5em auto;
	}
}
@media screen and (max-width: 1080px) {
	h1.agile_head {
		padding-top: 0.6em;
	}
	.container {
		margin: 4em auto;
	}
	.copyright.text-center {
		padding-bottom: 0em;
	}
}